
    <h1 class="titulo">{{title}}</h1>
    <p>Bienvenido al {{title}}</p>
    <div class="home container">
        <div class="row">
            <div class="col-6"><h3>Subtitulo</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos doloribus veritatis mollitia commodi? Ea hic asperiores doloremque. In et explicabo ipsa velit laboriosam quaerat magnam officiis doloribus quia minus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, itaque repellat voluptatem nostrum dolores debitis facilis numquam quos, fugit blanditiis alias officia necessitatibus fuga qui id, quo sed corporis sunt!</p></div>
            <div class="col-5"><img src="/images/images.jpg" alt=""></div>
        </div>
    </div>


