
    <h1>Soy Nosotros</h1>
    <div class="columnas container">
        <div class="fila col-12">
            <h3>Subtitulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, consequatur doloribus! Nesciunt, odio quos. Optio dolore, praesentium reiciendis quos necessitatibus, excepturi doloremque dolor tempore aperiam illo nesciunt consequuntur! Ipsum, autem?</p>
        </div>
        <div class="fila1 row">
            <div class="item col-3">
                <h5>Subtitulo</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus sit, ratione odio corrupti eos blanditiis dicta accusantium dolorem quis ipsam minima fuga aperiam? Dignissimos repellendus soluta excepturi eos est culpa.</p>
            </div>
            <div class="item col-3">
                <h5>Subtitulo</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus sit, ratione odio corrupti eos blanditiis dicta accusantium dolorem quis ipsam minima fuga aperiam? Dignissimos repellendus soluta excepturi eos est culpa.</p>
            </div>
            <div class="item col-3">
                <h5>Subtitulo</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus sit, ratione odio corrupti eos blanditiis dicta accusantium dolorem quis ipsam minima fuga aperiam? Dignissimos repellendus soluta excepturi eos est culpa.</p>
            </div>
        </div>
    </div>
