
    <h1>Soy Quienes</h1>
<div class="quienes container">
    <div class="row fila3">
        <div class="col-4">
            <img class="float-start" src="/images/quienes-somos.png" alt="quienes">
        </div>
        <div class="col-8">
            <h3>Subtitulo</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, mollitia nostrum est velit ipsam nesciunt et temporibus minima possimus provident iste commodi recusandae sequi nisi libero doloremque corrupti beatae molestiae.</p>
        </div>

    </div>

</div>
