.contenedor{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenedor div{
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
    color: white;
    font-size: 20px;
}
.contenedor :first-child{
    background: red;
}
.contenedor :nth-child(2){
    background: blue;
}
.contenedor :last-child{
    background: green;
}