body{
    background-color:rgb(194, 224, 152);
    font-family: cursive;
    border: 10px double;
}
a:hover{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 247, 255);
    font-size: larger;
}
div{
    text-align: center;
}
img{
    display: block;
    border: 8px solid burlywood;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: darkolivegreen;
    border: 2px solid bisque;
    background-color:rgb(0, 255, 255,0.5);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 50px ;
}
h2{
    color: darkolivegreen;
}
h3{
    color: grey;
}
h4{
    color: darkcyan;
}
.articulos{
    text-align: center;
    background-color: wheat;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 400px;
    color: brown;
}
p{
    color:darkcyan;
    border:dashed 4px yellowgreen;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 150px;
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
}